<div class="jumbotron">

<h2>How was your day?</h2>

<%= form_for @story do |f| %>
	Title <br/> <%= f.text_field :title, :class =>"form-control" %><br/><br/>
	Story <br/> <%= f.text_area :content, :maxlength => 240, :class =>"form-control" %><br/><br/>
	<%= f.submit "Add Story", :class =>"btn" %>

<% end %> <br/>

</div>

<%= link_to "Back to My Journal", stories_path, :class =>"btn btn-link" %>