<h1>How was your day?</h1>

<%= form_for @story do |f| %>
	Title: <%= f.text_field :title %><br/><br/>
	Story: <%= f.text_area :content %><br/><br/>

	<%= f.submit "Add Story" %>

<% end %>

<%= link_to "Back to My Journal", stories_path %>