<h1>How was your day?</h1>

<%= form_for @story do |f| %>
	Title: <%= f.text_field :title %><br/><br/>
	Story: <%= f.text_area :content, "cols" => 40, "rows" => 2, :maxlength => 60 %><br/><br/>
	<%= f.submit "Add Story" %>

<% end %> <br/>

<%= link_to "Back to My Journal", stories_path %>